.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__main {
  flex: 1;
}

.whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000;
}

.whatsapp img {
  width: 40px;
  height: 40px; 
}