.services {
  grid-column: 2;
} 

.services_container {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  gap: 150px;
  color: black;
  font-size: 1.5em;
  text-align: center;
  
  opacity: 0;
  transform: translateX(-60px);
  animation: start_link 1s linear forwards;
}

.services_content {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(-60px);
  animation: start_locations linear forwards;
}

.services_locations h2, .services_shipments h2 {
  font-size: 1em;
  margin: 0px;
}

.services_locations p, .services_shipments p {
  font-size: 0.8em;
  color: #9e9d9d;
}

.services_locations .services_content ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px;
  width: 100%;
  gap: 10px;
}

.services_locations .services_content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  padding: 25px 0px;
  padding: 15px;

  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.03);
}

.services_shipments .services_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.messaging {
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.03);
  height: 100%;
  padding: 0px 30px;
}

.messaging h3 {
  font-size: 1em;
}

.messaging span {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 0.2;
}

.messaging p {
  color: #9e9d9d;
  font-size: 0.6em;
}

.messaging_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px;
  text-align: start;
}

.messaging_list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.7em;
}

.hola {
  display: flex;
  align-items: center;
  gap: 15px;
}

@keyframes start_link {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes start_locations {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.services_container img {
  height: 15vh;
}

@media (max-width: 520px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .services_locations .services_content ul{
    display: flex;
    flex-direction: column;
  }

  .services_shipments .services_content {
    display: flex;
    flex-direction: column;
  }
}